= simple_form_for @note do |f|
  =f.input :title, label: false, placeholder: "title", :input_html => { :class => 'title_width' }
  =f.input :content, label: false, placeholder: "text",:input_html => { :class => 'content_width' }
  =f.button :submit,  data: { disable_with: "送信中..."},class: 'button'