.wrapper_with_padding
  #notes
    - unless @notes.blank?
      = form_with(url: search_notes_path, local: true ) do |f|
        =f.text_field :search,  placeholder: "投稿を検索する", class: "search-input"
        =f.submit value: "検索", data: { disable_with: "送信中..."}, class: "button"

      - @notes.each do |note|
        %a.created_at{ href: (url_for [note])}
          .note
            %p.title= note.title
            %p.date= time_ago_in_words(note.created_at)
    - else 
      %h2 あなたが今思っていること、感じていることを書き出してみよう！
      %p - メリットや効果
      %p - 幸福感が高まり、頭が良くなる
      %p - 認知機能の向上
      %p - 嫌いな相手が気にならなくなる
      %p - 免疫力が向上する
      %p - 筆記開示の生みの親であるテキサス大学のジェームズ・ペネベーガー博士によると、「数々の研究により、エクスプレッシブ・ライティングを行った被験者は幸福感が高まり、ネガティブな感情が減った。さらには、数週間から数ヶ月でうつや不安が改善し、ストレスが穏やかになる傾向も見られた。」と述べられています。
      %button= link_to "新規投稿", new_note_path