$middle_green: #33cd99;
$light_gray: #c0c1c1;
$hover_green: #15eda5;
$gentle_green: #ebfff8;

@mixin bold_font {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: bold;
  text-transform: none;
}

* {
  box-sizing: border-box;
}

body {
  padding-top: 7.2rem;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: bold;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper_with_padding {
  width: 80%;
  margin: 0 auto;
  padding: 5.6rem 0;
}

button,
.button {
  border: none;
  outline: none;
  background: $middle_green;
  padding: 1.6rem 5.6rem;
  border-radius: 3.2rem;
  margin-top: 6px;
  a {
    color: white;
    text-decoration: none;
  }
}

.button {
  color: white;
  margin: 3.2rem 0;
}

a {
  color: white;
  text-decoration: none;
}

header {
  background: $middle_green;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2.8rem 0;
  border-bottom: 7px solid #e3e5e6;
  .header_inner {
    width: 90%;
    margin: 0 auto;
    font-family: "Caveat", cursive;
    font-size: 2.5rem;
    letter-spacing: 2px;
    nav {
      float: right;
      a {
        text-decoration: none;
        color: white;
        font-size: 1.76rem;
        line-height: 1.5;
        margin-left: 1.6rem;
        &:hover {
          color: $hover_green;
        }
      }
    }
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  margin-bottom: 1.6rem;
  border: 1px solid $light_gray;
  border-radius: 0.64rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  height: 40px;
}

textarea {
  min-height: 200px;
}
