#notes {
  .note {
    background: $middle_green;
    width: 30%;
    min-height: 150px;
    margin: 1rem 1%;
    padding: 2.4rem 2.5%;
    float: left;
    border-radius: 1.8rem;
    position: relative;
    .title {
      @include bold_font;
      color: white;
      margin: 0;
      letter-spacing: 1px;
    }
    .date {
      position: absolute;
      bottom: 0.4rem;
      left: 8.5%;
      font-size: 1.36rem;
    }
  }
}

#note_show {
  .title {
    @include bold_font;
    font-size: 4rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #e9e9e9;
  }
  p {
    font-size: 2.2rem;
    line-height: 1.75;
    overflow-wrap: word-wrap;
    margin-bottom: 5rem;
  }
  .buttons {
    margin-top: 5rem;
    a.button {
      padding: 0.8rem 3.2rem;
      border-radius: 3.2rem;
      text-decoration: none;
      color: $hover_green;
      border: 5px solid #e9e9e9;
      @include bold_font;
      background: transparent;
    }
  }
}
